img.svg {
    padding-right: 10px;
}

a.navbar-brand {
    color: #3166CC;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75em;
    font-weight: 900;
}